.popup .bayangan{
   background: rgba(0, 0, 0, 0.5);
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1;
   display: none;
}

.popup.active .bayangan{
   display: block;
}

.popup .konten-popup{
   position: absolute;
   background: white;
   z-index: 2;
   width: 250px;
   height: 200px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   padding: 20px;
   box-sizing: border-box;
}

.popup.active .konten-popup{
   transform: translate(-50%, -50%) scale(1);
   transition: 300ms;
}

.popup .konten-popup .tombol-close{
   background: red;
   width: 20px;
   text-align: center;
   font-weight: 800;
   color: white;
   margin-left: auto;
   border-radius: 50%;
}

.popup .konten-popup input{
   display: block;
   margin-bottom: 15px;
   width: 200px;
}

